@import '_themes.scss';

.container {
  width: 100%;
  color: $white;
  text-align: left;

  .title {
    display: flex;
    padding: 10px;
    background-color: $secondary-400;
    border-bottom: 1px solid $primary-900;
    margin: 0;
  }

  .information {
    padding: 0 10px;

    .info-title {
      margin-top: 0;
      padding-bottom: 5px;
    }
  }
}
