<header>
  <div class="title">
    <!-- <img class="dev-icon" src="./assets/dev-icon.png" alt="dev-icon"> -->
    <!-- <img src="./assets/developer.png" alt="developer" width="75px"> -->
    <p class="dev-name">Juan Eneque</p>
  </div>
  <div class="burger-btn" (click)="toggleNavbar()">
    <img src="./assets/burger-button.png" alt="burger-button">
  </div>
  <nav class="navbar-web">
    <a *ngFor="let item of navItems"
      [routerLink]="item.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      {{ item.name }}
    </a>
  </nav>
</header>
<nav class="navbar-mb" *ngIf="isNavbarActive">
  <a *ngFor="let item of navItems"
    (click)="toggleNavbar()"
    [routerLink]="item.path"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    {{ item.name }}
  </a>
</nav>
