<div class="container">
  <h1>{{ aboutMeLabels.title }}</h1>
  <div class="detail">
    <wc-accordion [title]="aboutMeLabels.educationLabel">
      <wc-work-item *ngFor="let job of educationList"
        [img]="job.img"
        [job]="job.job"
        [company]="job.company"
        [period]="job.period">
      </wc-work-item>
    </wc-accordion>
    <wc-accordion [title]="aboutMeLabels.workLabel">
      <wc-work-item *ngFor="let job of jobList"
        [img]="job.img"
        [job]="job.job"
        [company]="job.company"
        [period]="job.period">
      </wc-work-item>
    </wc-accordion>
    <wc-accordion [title]="aboutMeLabels.techLabel">
      <div class="tech-container">
        <wc-tech-skill *ngFor="let skill of techList"
          [label]="skill.label"
          [image]="skill.img">
        </wc-tech-skill>
      </div>
    </wc-accordion>
  </div>
  <div class="detail-web">
    <div class="education">
      <h2>{{ aboutMeLabels.educationLabel }}</h2>
      <wc-work-item *ngFor="let job of educationList"
        [img]="job.img"
        [job]="job.job"
        [company]="job.company"
        [period]="job.period">
        </wc-work-item>
    </div>
    <div class="works">
      <h2>{{ aboutMeLabels.workLabel }}</h2>
      <wc-work-item *ngFor="let job of jobList"
        [img]="job.img"
        [job]="job.job"
        [company]="job.company"
        [period]="job.period">
      </wc-work-item>
    </div>
    <div class="techs">
      <h2>{{ aboutMeLabels.techLabel }}</h2>
      <div class="tech-container">
        <wc-tech-skill *ngFor="let skill of techList"
          [label]="skill.label"
          [image]="skill.img">
        </wc-tech-skill>
      </div>
    </div>
  </div>
</div>
