@import '_themes.scss';

.main-container {
  display: block;
  min-height: calc(#{$min-height-mb} - 20vh);
  border-top: 1px solid $secondary-900;
  border-bottom: 1px solid $secondary-900;

  @media (min-width: $min-mobile) {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: calc(#{$min-height-mb} - 20vh);
  }
}