@import '_themes.scss';

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 10vh 0;

  @media (min-width: $min-mobile) {
    margin: 0;
  }

  .developer {
    width: 150px;
  }

  .dev-occupation {
    color: $secondary-200;
    font-size: 20px;
  }
}