@import '_themes.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 img {
  width: 48px;
  height: 48px;
 }

 span {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
 }
}